*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.form {
    width: 30%;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

 .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
 }

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}

.input-box input {
    margin: 0.2rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius:9px ;
    box-shadow: 1px 1px 6px #000;
}

.input-box input:focus-visible {
    outline: 1px solid #d32323;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000;
}

.continue-button button{
    width: 100%;
    margin-top: 20%;
    border: none;
    background-color: #d32323;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 400;
    color: white;
 }
