* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
}

header {
    position: relative;
    background-color: rgb(234, 56, 62);
}
.menu-cabecalho {
    height: 150px;
    float: right;
    clear: left;
    margin-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
}
.menu-cabecalho a {
    color: black;
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
}
.logo {
    width: 150px;
    height: 150px;
    margin-left: 35px;
}

main {
    margin: auto;
    width: 940px;
}
